.pangination,
.pangination__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pangination__list {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 30px;
}

.pangination__list-number:hover {
  background-color: transparent;
  border-radius: 5px;
  color: whitesmoke;
  animation: glow 1s infinite;
  cursor: pointer;
  scale: 1.6;
}

.pangination__button-arrow {
  min-width: 60px;
  min-height: 30px;
}

.pangination__button-arrow_back {
  margin-right: 25px;
  background-image: url(../../images/pepicons-print_arrow-left.svg);
  background-size: 45px 45px;
}

.pangination__button-arrow_next {
  margin-left: 25px;
  background-image: url(../../images/pepicons-print_arrow-left.svg);
  background-size: 45px 45px;
  rotate: 180deg;
}
