.button {
  width: 40px;
  height: 100%;
  border: 0;
  background-color: rgb(224, 217, 217, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 20px 20px;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: transparent;
  scale: 1.4;
}
