.form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__field {
  border: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.form__input-error {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #f00;
}

.form__buttons {
  display: flex;
  gap: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.form__button-item {
  height: 100%;
}

.form__button-close {
  background-image: url(../../images/close.svg);
}

.form__button-search {
  background-image: url(../../images/search.svg);
}

.form__button-search:disabled,
.form__button-close:disabled {
  pointer-events: none;
}

.form__button-search:active,
.form__button-close:active {
  scale: 1.2;
}

@media only screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    height: 100px;
    gap: 20px;
  }

  .form__buttons {
    width: 100%;
  }

  .form__button-item {
    width: 100%;
  }

  .form__button-search,
  .form__button-close {
    width: 100%;
  }

  .form__input-error {
    bottom: -15px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .form {
    gap: 30px;
  }

  .form__input-error {
    bottom: -30px;
  }
}
