.search {
  display: flex;
  flex-direction: column;
}

.form {
  width: 80%;
  min-height: 30px;
  margin: 0 auto;
  display: flex;
}

.form__button {
  width: 30px;
  border: 0;
  background-color: rgb(224, 217, 217, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 20px 20px;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
  transition: all 0.6s ease;
}

.form__button:hover {
  background-color: transparent;
  scale: 1.4;
}

.form__button-close {
  background-image: url(../../images/close.svg);
  margin: 0 5px 0 0;
  padding: 0;
}

.form__button-search {
  background-image: url(../../images/search.svg);
}
