.gif {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.gif:hover {
  transform: translateY(-10px);
}
