.pangination,
.pangination__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pangination__list {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 30px;
}

.pangination__list-number {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.pangination__list-number:hover {
  background: #124fb9;
  border-radius: 5px;
  color: whitesmoke;
  animation: glow 1s infinite;
}

.pangination__button-arrow {
  min-width: 60px;
  min-height: 30px;
}

.pangination__button-arrow_back {
  margin-right: 25px;
  background-image: url(../../images/pepicons-print_arrow-left.svg);
  background-size: 45px 45px;
}

.pangination__button-arrow_next {
  margin-left: 25px;
  background-image: url(../../images/pepicons-print_arrow-left.svg);
  background-size: 45px 45px;
  rotate: 180deg;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0px 0px 15px #05466b;
  }
  50% {
    box-shadow: 0px 0px 7px #11425c;
  }
}
