@keyframes blinkingLight {
  0% {
    fill: rgb(247, 189, 97, 1);
  }

  49% {
    fill: rgb(252, 250, 131);
  }

  100% {
    fill: rgb(247, 189, 97, 1);
  }
}

@keyframes blinkingLight {
  0% {
    fill: rgb(247, 189, 97, 1);
  }

  49% {
    fill: rgb(252, 250, 131);
  }

  100% {
    fill: rgb(247, 189, 97, 1);
  }
}

@keyframes blinkingLight3 {
  0% {
    fill: rgb(237, 161, 27);
  }

  49% {
    fill: rgb(255, 210, 70);
  }

  100% {
    fill: rgb(237, 161, 27);
  }
}

@keyframes blinkingLight3 {
  0% {
    fill: rgb(237, 161, 27);
  }

  49% {
    fill: rgb(255, 210, 70);
  }

  100% {
    fill: rgb(237, 161, 27);
  }
}

@keyframes blinkingLight4 {
  0% {
    fill: rgb(158, 42, 42);
  }

  49% {
    fill: rgb(255, 72, 72);
  }

  100% {
    fill: rgb(158, 42, 42);
  }
}

@keyframes blinkingLight5 {
  0% {
    fill: rgb(255, 72, 72);
  }

  49% {
    fill: rgb(158, 42, 42);
  }

  100% {
    fill: rgb(255, 72, 72);
  }
}

@keyframes blinkingLight2 {
  0% {
    fill: rgb(255, 255, 255);
  }

  49% {
    fill: rgb(255, 255, 255, 0.5);
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes shake {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translate(1px, 0px);
  }

  50% {
    transform: translate(0px, 1px);
  }

  75% {
    transform: translate(1px, 0px);
  }

  100% {
    transform: translate(0px);
  }
}

@keyframes armDrop {
  0% {
    transform: rotate(10deg) translate(0px, -10px);
  }

  25% {
    transform: rotate(20deg) translate(0px, -10px);
  }

  50% {
    transform: rotate(25deg) translate(0px, -10px);
  }

  70% {
    transform: rotate(30deg) translate(0px, -15px);
  }

  80% {
    transform: rotate(35deg) translate(-3px, -18px);
  }

  90% {
    transform: rotate(40deg) translate(-5px, -17px);
  }

  100% {
    transform: rotate(45deg) translate(-5px, -17px);
  }
}

@keyframes armDropLeft {
  0% {
    transform: rotate(10deg) translate(0px, -10px);
  }

  25% {
    transform: rotate(20deg) translate(0px, -10px);
  }

  50% {
    transform: rotate(25deg) translate(-2px, -10px);
  }

  70% {
    transform: rotate(50deg) translate(-5px, -15px);
  }

  80% {
    transform: rotate(60deg) translate(-10px, -18px);
  }

  90% {
    transform: rotate(75deg) translate(-15px, -25px);
  }

  100% {
    transform: rotate(85deg) translate(-40px, -30px);
  }
}

@keyframes coneDrop {
  0% {
    transform: translate(1px, 2px);
  }

  25% {
    transform: translate(0, 45px);
  }

  50% {
    transform: translate(0, 90px);
  }

  75% {
    transform: rotate(12deg) translate(120px, 115px);
  }

  100% {
    transform: translate(0, 168px);
  }
}

@keyframes headShake {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(1px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes headShakeNo {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(1px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes type {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(1px, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(1px, 1px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.error__title {
  text-align: center;
  max-width: 200px;
  margin-top: 90px;
  margin-left: 20px;
  padding: 8px 5px;
  font-weight: 500;
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 20px 20px 0px 20px;
  border: 2px solid white;
  position: absolute;
}

.error__search-query {
  font-weight: 600;
  color: red;
}

.error-header-title {
  font-size: 60px;
  font-weight: bolder;
  line-height: 72px;
}

.blinkingIL {
  animation: blinkingLight 1100ms infinite;
}

.blinkingIR {
  animation: blinkingLight 1100ms infinite;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.blinkingOL {
  animation: blinkingLight3 1100ms infinite;
}

.blinking4 {
  animation: blinkingLight4 1.2s infinite;
}

.blinking5 {
  animation: blinkingLight5 1.2s infinite;
}

/* 404 sign */
.flash-white {
  animation: blinkingLight2 1.2s infinite;
}

.blinkingOR {
  animation: blinkingLight3 1100ms infinite;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.shake {
  animation-name: shake;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-delay: 4.2s;
  -webkit-animation-delay: 4.2s;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.arm-drop {
  animation-name: armDrop;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-fill-mode: forwards;
  transform-origin: center left;
}

.arm-dropLeft {
  animation-name: armDropLeft;
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: center left;
}

.cone-drop {
  animation-name: coneDrop;
  animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  -webkit-animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  animation-fill-mode: forwards;
}

.headshake {
  animation-name: headShake;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 4500ms;
  -webkit-animation-delay: 4500ms;
  animation-iteration-count: 4;
  -webkit-animation-iteration-count: 4;
  animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  animation-fill-mode: forwards;
}

.headshakeNo {
  animation-name: headShakeNo;
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  animation-delay: 5.5s;
  -webkit-animation-delay: 5.5s;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  animation-fill-mode: forwards;
}

.typing {
  animation-name: type;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  animation-fill-mode: forwards;
}

.typingLeft {
  animation-name: type;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  animation-fill-mode: forwards;
}

.shake1 {
  animation-name: shake;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@media (max-width: 1850px) {
  .error__image {
    width: 100%;
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .error__image {
    width: 440px;
    margin-top: 0;
  }

  .error__title {
    margin-top: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .mob-margin-0 {
    margin-top: 0;
  }

  .error-page-padding {
    padding-top: 20px;
  }

  .standard-header-background {
    background-image: url(/wp-content/uploads/2019/06/v03_Both_Blobs.svg);
  }

  .error__title {
    margin-top: 130px;
    margin-right: 50px;
  }
}

@media (max-width: 440px) {
  .error__image {
    width: 300px;
  }

  .error__title {
    margin-top: 220px;
    margin-right: 120px;
    font-size: 14px;
  }
}
