@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 75%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 25% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #ae4477,
    #0aff5e,
    #102bff
  );
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
}
