.main {
  width: 100%;
  max-width: 1024px;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  padding-bottom: 50px;
}
