@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Thin.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Light.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Regular.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Medium.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Bold.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Black.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}
