.header {
  width: 100%;
  padding-inline: 20px;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-inline: 15px;
    padding-block: 30px;
  }
}
