.nav,
.nav__links {
  width: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  transition: all 0.2s ease-out;
}

.nav__link:hover {
  color: var(--primary-link-color);
}

.nav__link_active {
  color: var(--primary-link-color);
  border-bottom: 4px solid var(--primary-link-color);
}
